body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcomeMessage {
  text-align: center;
}

.feedbackBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  background-color: #ccc;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
}

.modelDlg {
  position: absolute;
  border: 1px solid #777;
  border-radius: 5px;
  background: #f2f2f2;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
  width: 450px;
  top: 150px;
  left: calc(50% - 225px);
  padding: 10px;
}

.surveyDlg {
  font-size: 12px;
}
.surveyDlg .header {
  font-size: 18px;
  font-weight: bold;
  font-stretch: ultra-expanded;
}
.surveyDlg .required {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  font-style: italic;
  color: #999;
}
.surveyDlg .required .requiredSymbol {
  color: red;
  display: inline-block;
  margin-right: 5px;
}
.surveyDlg .required .label {
  display: inline-block;
}
.surveyDlg .hide {
  display: none;
}
.surveyDlg .label {
  display: inline-block;
  margin-bottom: 5px;
}
.surveyDlg .label .requiredSymbol {
  margin-left: 5px;
  color: red;
  display: inline-block;
}
.surveyDlg .ranking .rankingEntries {
  font-size: 13px;
}
.surveyDlg .ranking .rankingEntries .entry {
  float: left;
  border: 1px solid #bbb;
  border-radius: 3px;
  background-color: #ccc;
  padding: 10px;
  cursor: pointer;
}
.surveyDlg .ranking .rankingEntries .entry:hover {
  background-color: #777;
}
.surveyDlg .ranking .rankingEntries .entry.selected {
  background-color: #777;
}
.surveyDlg .ranking .rankingEntries .entry:not(:last-child) {
  margin-right: 10px;
}
.surveyDlg .ranking .rankingEntries:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.surveyDlg .ranking .rankingLabels {
  color: #999;
  margin-top: 5px;
}
.surveyDlg .ranking .rankingLabels .leftLabel {
  float: left;
}
.surveyDlg .ranking .rankingLabels .rightLabel {
  float: right;
}
.surveyDlg .ranking .rankingLabels:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.surveyDlg .multiLineText .messageArea {
  position: relative;
  width: 100%;
  resize: none;
  padding: 5px;
  box-sizing: border-box;
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  border-radius: 3px;
  outline: none;
}
.surveyDlg .multiLineText .messageLengthDiv {
  text-align: right;
}
.surveyDlg .multiLineText .messageLengthDiv .messageLength {
  display: inline-block;
}
.surveyDlg .multiLineText .messageLengthDiv .messageLengthMsg {
  display: inline-block;
  margin-left: 5px;
}
.surveyDlg .dropdown .select {
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 4px;
}
.surveyDlg .radioButtons .radioBtnDiv .radioBtn {
  display: inline-block;
  margin-bottom: 10px;
}
.surveyDlg .radioButtons .radioBtnLabel {
  display: inline-block;
  position: relative;
  top: -2px;
  font-size: 14px;
}
.surveyDlg .radioButtons .radioBtnLabel.vertical {
  width: 95%;
}
.surveyDlg .actionButton {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.surveyDlg .actionButton .nextSubmitBtn {
  font-size: 16px;
  padding: 5px 30px;
  background-color: #C6D3D9;
  border: 1px solid #C6D3D9;
  border-radius: 5px;
  color: #555;
}
.surveyDlg .actionButton .nextSubmitBtn:disabled {
  color: #ddd;
  background-color: #eee;
}

/*# sourceMappingURL=auryc.css.map */
